@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" id="tituloindex">Bievenidos A Organa</h1>
    <h5 id="subtituloindex">Solo tienes un cuerpo aliméntalo bien y te devolverá el favor</h5>
</div>
